@import url('https://fonts.googleapis.com/css?family=Inter|Inter:300,400,500,700');

body {
  background-color: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  border: none;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  list-style-type: none;
}